@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
}
